<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>test.TiendaAddProductPageTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>searchProdutTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>validateTitle</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>removeProductTest</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>addProductTest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
