<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="96f0f5">  <td>19/03/25 17:32:11</td>   <td>0</td> <td>&nbsp;</td><td title="&lt;&lt;TiendaAddProductPageTest.Finish()[pri:0, instance:test.TiendaAddProductPageTest@4b9e13df]">&lt;&lt;Finish</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="96f0f5">  <td>19/03/25 17:32:01</td>   <td>-10788</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TiendaAddProductPageTest.addProductTest()[pri:0, instance:test.TiendaAddProductPageTest@4b9e13df]">addProductTest</td> 
  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="96f0f5">  <td>19/03/25 17:32:06</td>   <td>-5371</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TiendaAddProductPageTest.removeProductTest()[pri:0, instance:test.TiendaAddProductPageTest@4b9e13df]">removeProductTest</td> 
  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="96f0f5">  <td>19/03/25 17:32:11</td>   <td>-250</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TiendaAddProductPageTest.searchProdutTest()[pri:0, instance:test.TiendaAddProductPageTest@4b9e13df]">searchProdutTest</td> 
  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="96f0f5">  <td>19/03/25 17:31:52</td>   <td>-19033</td> <td>&nbsp;</td><td title="&gt;&gt;TiendaAddProductPageTest.setupTest()[pri:0, instance:test.TiendaAddProductPageTest@4b9e13df]">&gt;&gt;setupTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1486371051</td>   <td></td> </tr>
<tr bgcolor="96f0f5">  <td>19/03/25 17:32:11</td>   <td>-55</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TiendaAddProductPageTest.validateTitle()[pri:0, instance:test.TiendaAddProductPageTest@4b9e13df]">validateTitle</td> 
  <td>main@1486371051</td>   <td></td> </tr>
</table>
